body{
    position: relative;
width: 1542px;
height: 1365px;
background: linear-gradient(180deg, #042067 0%, rgba(0, 71, 255, 0) 100%);
}
.navbar{
    position: relative;
    top: 25px;
    left: 100px;
    display: flex;
    justify-content: space-around;
}
.navtext{
    text-decoration: none, underline;
    color: white;
    font-size: 35px;
}
.boton{
    text-decoration: underline;
    background: linear-gradient(180deg, #042067 0%, rgba(0, 71, 255, 0) 0%);
    color: #FFFFFF;
    font-size: 35px;
    border: none;
}
.links{
    position: relative;
    right: 150px;
    bottom: -200px;
    display:block;
    background-color: black;
    padding-left: 1200px;
}
/* Hasta aca llega el navbar  */
.art1{
    position: absolute;
    width: 646px;
    height: 77px;
    left: 30px;
    top: 150px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 77px;
    color: #FFFFFF;
    }
    .art2{
    position: absolute;
    width: 838px;
    height: 312px;
    left: 41px;
    top: 350px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 39px;
    color: #FFFFFF;
    }
    .aplicar{
    position: relative;
    top: 450px;
    left: 500px;
    padding: 30px;
    background: #ADFF6D;
    border-radius: 25px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    text-decoration-line: underline;
    color: #000000;
    }
    .foto1{
    position: absolute;
    width: 632px;
    height: 366px;
    left: 1020px;
    top: 220px;
    background: url(aafoto11.jpeg);
    }
    .art3{
    position: absolute;
    width: 590px;
    height: 48px;
    left: 30px;
    top: 630px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    color: #FFFFFF;
    }
    .art4{
    position: absolute;
    width: 878px;
    height: 156px;
    left: 50px;
    top: 730px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 39px;
    color: #FFFFFF;
    }
    .foto2{
    position: relative;
    width: 594px;
    height: 292px;
    left: 950px;
    top: 650px;
    background: url(aafoto8.jpeg);
    }
/* Hasta aca llega el Article */
footer{
    position: relative;
    top: 650px;
    width: 2000px;
}
.t1{
    position: relative;
    left: 790px;
    top: 325px;
    display: inline;
    color: chartreuse;
    font-size: 25px;
    z-index: 1;
}
.t2{
    position: relative;
    left: 1000px;
    top: 325px;
    display: inline;
    color: chartreuse;
    font-size: 25px;
    z-index: 1;
}
.link1{
    position: relative;
    bottom: 150px;
    right: 250px;
    margin-right: 300px;
    text-decoration: none;
    color: aliceblue;
    font-size: 25px;
}
.link2{
    position: relative;
    bottom: 150px;
    right: 250px;
    text-decoration: none;
    color: aliceblue;
    font-size: 25px;
}
.link3{
    position: relative;
    bottom: 150px;
    right: 250px;
    margin-right: 332px;
    text-decoration: none;
    color: aliceblue;
    font-size: 25px;
}
.link4{
    position: relative;
    bottom: 150px;
    right: 250px;
    text-decoration: none;
    color: aliceblue;
    font-size: 25px;
}
.link5{
    position: relative;
    bottom: 150px;
    right: 250px;
    margin-right: 165px;
    text-decoration: none;
    color: aliceblue;
    font-size: 25px;
}
.link6{
    position: relative;
    bottom: 150px;
    right: 250px;
    text-decoration: none;
    color: aliceblue;
    font-size: 25px;
}
.imgfooter{
    position: relative;
    right: 850px;
    top: 60px;
    width: 300px;
    height: 200px;
}
.p1{
    position: relative;
    right: 850px;
    top: 60px;
    color: aliceblue;
    font-size: 20px;
}
.p2{
    position: relative;
    right: 850px;
    top: 60px;
    color: chartreuse;
    font-size: 20px;
}